.header {
  display: grid;
  grid-template-columns: 10% 90%;
  height: 70px;
  background: var(--orange);
  padding: 0 10px;
  box-shadow: rgba(25, 28, 31, 0.04) 0 8px 16px, rgba(25, 28, 31, 0.04) 0 -1px 0px;
  z-index: 3;

  & > * {
    align-self: center;
  }

  &__logo {
    grid-column: 1/2;
    padding-left: 50px;
    @media (max-width: 1024px) {
      padding-left: 25px;
    }

    mat-icon {
      cursor: pointer;
      display: flex !important;
      align-items: center !important;
      font-size: 35px !important;
      color: var(--black);
    }
  }

  &__body {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 2/3;
    padding-right: 50px;
    @media (max-width: 1024px) {
      padding-right: 25px;
    }
    @media (max-width: 768px) {
      display: none;
    }

    .auth-actions {
      display: flex;
    }
  }

  &__inner-body {
    display: flex;
  }

  .links {
    display: flex;
    align-items: center;

    a {
      margin: 0 15px;
      height: 80%;
      cursor: pointer;
      color: var(--black);
      font-size: 22px;
      transition: 200ms;
      align-self: end;

      &:hover {
        opacity: 0.7;
      }

      @media (max-width: 1024px) {
        margin: 0 5px;
      }
    }
  }

  .actions {
    margin-left: 40px;
    display: flex;
    align-items: center;

    &__user-display-name {
      font-size: 22px;
      margin-left: 20px;
      font-weight: 600;

      &::before {
        font-weight: 500;
        margin-right: 5px;
        content: 'Welcome, ';
      }
    }

    & > * {
      margin: 0 10px;
    }

    @media (max-width: 1024px) {
      margin-left: 20px;

      & > * {
        margin: 0 5px;
      }
    }
  }

  .mobile-icon {
    display: none;
    grid-column: 2/3;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 50px;
      mat-icon {
        font-size: 32px;
      }
    }
  }

}


@media (max-width: 750px) {
  nav {
    grid-template-columns: 1fr 1fr !important;

    .logo {

    }

    .wrapper {
      * {
        transition: 200ms;
      }

      .mobile {
        display: grid;
        place-items: center;
        width: 50px;
        height: 80%;

        &:hover {
          background-color: #fff;
          border-radius: 10px;

          &::ng-deep.mat-icon {
            color: var(--orange);
          }
        }

        ::ng-deep {
          .mat-icon {
            display: grid;
            align-self: center;
            place-items: center;
            width: 100%;

            color: white;
            font-size: 32px;
            cursor: pointer;
          }
        }
      }

      .desktop {
        display: none;
      }
    }
  }
}

@media (min-width: 750px) {
  nav {
    .logo {
      mat-icon {
        cursor: pointer;
        display: flex !important;
        align-items: center !important;
        font-size: 35px !important;
      }
    }

    .wrapper {
      .mobile {
        display: none;
      }

      .desktop {
        width: 60%;
        justify-content: flex-end;
        align-items: center;

        app-button {
          margin: 5px;
        }

        .links {
          display: flex;

          a {
            margin: 0 25px;
            height: 80%;
            border-radius: 10px;
            cursor: pointer;
            color: var(--black);
            font-size: 22px;
            transition: 200ms;


            &:hover {
              opacity: 0.7;
            }
          }
        }

        .actions {
          display: flex;
          align-items: center;

          & > * {
            margin: 0 10px;
          }
        }

        .user-display-name {
          font-size: 22px;
          margin-left: 20px;
          font-weight: 600;

          &::before {
            font-weight: 500;
            margin-right: 5px;
            content: 'Welcome, ';
          }
        }
      }
    }
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 4fr;


  .logo {
    grid-row: 1;
    justify-content: center;
    align-self: center;
    color: var(--white);
    padding-left: 70px;
  }

  .wrapper {
    section {
      display: flex;
    }
  }
}
