<nav>
  <div class='logo'>
    <mat-icon routerLink=''>menu_book</mat-icon>
  </div>
  <div class='links'>
    <section class='desktop'>
      <ng-container *ngIf='isAuthenticated$ | async; else authenticated'>
        <app-button (click)='goToLogin()'>
          Login
        </app-button>
        <app-button (click)='goToRegister()' secondary='true'>
          Register
        </app-button>
      </ng-container>
      <ng-template #authenticated>
        <a routerLink='add-recipe'>Add recipe</a>
        <a routerLink='my-recipes'>My recipes</a>
        <a routerLink='recipes'>Recipes</a>
      </ng-template>
    </section>
    <section class='mobile'>
      <mat-icon>menu</mat-icon>
    </section>
  </div>
</nav>
