@media (max-width: 750px) {
  nav {
    grid-template-columns: 1fr 1fr !important;
    .logo {
    }
    .links {
      * {
        transition: 200ms;
      }
      .mobile {
        display: grid;
        place-items: center;
        width: 50px;
        height: 80%;

        &:hover {
          background-color: #fff;
          border-radius: 10px;
          &::ng-deep.mat-icon {
            color: var(--orange);
          }
        }

        ::ng-deep {
          .mat-icon {
            display: grid;
            align-self: center;
            place-items: center;
            width: 100%;

            color: white;
            font-size: 32px;
            cursor: pointer;
          }
        }
      }
      .desktop {
        display: none;
      }
    }
  }
}

@media (min-width: 750px) {
  nav {
    .logo {
    }
    .links {
      .mobile {
        display: none;
      }
      .desktop {
        width: 60%;
        justify-content: space-around;
        align-items: center;
        a {
          display: grid;
          place-items: center;
          width: 50%;
          height: 80%;

          border-radius: 10px;
          cursor: pointer;
          color: #fff;
          transition: 200ms;

          &:hover {
            background-color: white;
            color: var(--orange);
          }
        }
      }
    }
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 70px;

  background-color: var(--orange);

  &>* {
    display: grid;
    place-items: center;
  }
  * {
    height: inherit;
  }
  .logo {
    grid-row: 1;
    justify-content: center;

    color: #fff;
  }
  .links {
    display: grid;
    place-items: center;
    grid-row: 1;
    section {
      display: flex;
    }
  }
}
