<div class='header'>
  <div class='header__logo'>
    <mat-icon routerLink=''>menu_book</mat-icon>
  </div>
  <section [ngStyle]="{'opacity': (authProcessing$ | async) ? '0' : '1'}" class='header__body'>
    <ng-container *ngIf='(user$ | async) as user; else unauthenticated'>
      <div class='header__inner-body'>
        <div class='links'>
          <a routerLink='add-recipe'>Add recipe</a>
          <a routerLink='my-recipes'>My recipes</a>
          <a routerLink='recipes'>Recipes</a>
        </div>
        <div class='actions'>
          <p class='actions__user-display-name'>{{user.displayName}}</p>
          <app-button (click)='logout()' secondary='true'>
            Logout
          </app-button>
        </div>
      </div>
    </ng-container>
    <ng-template #unauthenticated>
      <div class='auth-actions'>
        <app-button (click)='goToLogin()'>
          Login
        </app-button>
        <app-button (click)='goToRegister()' secondary='true'>
          Register
        </app-button>
      </div>
    </ng-template>
  </section>
  <div class='mobile-icon-section' [ngStyle]="{'opacity': (authProcessing$ | async) ? '0' : '1'}">
    <ng-container *ngIf='!(user$ | async); else mobileIcon'>
      <ng-container *ngTemplateOutlet='unauthenticated'></ng-container>
    </ng-container>
    <ng-template #mobileIcon>
      <button mat-icon-button class='mobile-icon' (click)='openMobileDialog()' #button>
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>
  </div>
</div>

