.primary {
  color: var(--black);
  background: var(--orange);
  border-radius: 10px;

}

.secondary {
  color: var(--black);
  background: var(--white);
  border-radius: 15px;
}

.button {
  font-size: var(--m);
  padding: 6px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 15px -5px rgba(0, 0, 0, 0.07);

  &:disabled {
    background: var(--gray);
    color: var(--black);
  }

  svg {
    transform: scale(0.1);
    padding: 5px;
  }

  mat-spinner {
    zoom: 0.35;
  }
}

::ng-deep {
  app-button {
    .mat-ripple-element {
      background: var(--blackRipple);
    }
  }

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: var(--black);
  }
}
