<mat-form-field appearance='fill'>
  <mat-label>
    <ng-content></ng-content>
  </mat-label>
  <input [type]="hide ? 'password' : 'text'" matInput (keyup.enter)='onKeyup()' [formControl]='control'>
  <button *ngIf='_type === "password"' mat-icon-button matSuffix (click)='hide = !hide'
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]='hide'>
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <app-validation-feedback *ngIf='control.touched' [control]='control'></app-validation-feedback>
</mat-form-field>
