.container {
  width: 100%;
  height: calc(100% - 70px);
  padding: 48px;
  background: linear-gradient(#f6f6f6, #fdfdfd, #efefef);
  @media (max-width: 1368px) {
    min-height: calc(100vh - 70px);
    height: auto;
    padding: 24px;
  }
  @media (max-width: 768px) {
    padding: 12px;
  }
}
