<app-base-feature-wrapper class='recipes'>
  <div header>Recipes</div>
  <div class='recipes__list' *ngIf='(recipes$ | async) as recipesOrAds'>
    <div *ngFor='let recipeOrAd of recipesOrAds'>
      <ng-container *ngIf='checkIfItIsAd(recipeOrAd);else recipeTile'>
        <app-ad-test fullWidthResponsive='true' height='340px'></app-ad-test>
      </ng-container>
      <ng-template #recipeTile>
        <app-recipe-tile [recipeTile]='recipeOrAd'></app-recipe-tile>
      </ng-template>
    </div>
  </div>
</app-base-feature-wrapper>
