.home {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/4;
    justify-self: center;
    animation-name: opacity;
    animation-duration: 0.6s;
  }

  &__ads {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;

    & > * {
      margin: 16px 8px;
    }

    @media (max-width: 1368px) {
      flex-direction: column;
      align-items: center;

      & > * {
        margin: 4px 8px;
        padding: 8px 16px;
      }
    }
  }

  &__recipes {
    display: flex;
    justify-content: center;

    & > * {
      margin: 8px;
    }

    app-recipe-tile:first-child {
      width: 460px;
    }

    app-recipe-tile {
      width: 380px;
    }

    @media (max-width: 1368px) {
      align-items: center;
      flex-direction: column;

      app-recipe-tile {
        width: 600px;

        &:first-child {
          width: 600px;
        }
      }
    }

    @media (max-width: 768px) {
      app-recipe-tile {
        width: 100%;

        &:first-child {
          width: 100%;
        }
      }
    }
  }

}
