<app-base-feature-wrapper class='home'>
  <div header>Latest recipes</div>
  <div class='home__body'>
    <div class='home__recipes' *ngIf='(latestRecipes$ | async) as latestRecipes'>
      <app-recipe-tile *ngFor='let recipe of latestRecipes' [recipeTile]='recipe'></app-recipe-tile>
      <!--      <ng-adsense-->
      <!--        [adClient]="'pub-3777768585143098'"-->
      <!--        [adSlot]='3122538287'-->
      <!--        [display]="'block'"-->
      <!--        [width]='320'-->
      <!--        [height]='108'></ng-adsense>-->
    </div>
    <div class='home__ads'>
      <app-ad-test width='590px' height='350px'></app-ad-test>
      <app-ad-test width='590px' height='350px'></app-ad-test>
    </div>
  </div>
</app-base-feature-wrapper>
