@mixin auth {
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: opacity;
  animation-duration: 0.6s;
  @media (max-width: 1368px) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  @media (max-width: 768px) {
    margin: 8px;
  }
}

@mixin route-container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 70px - 48px * 2);
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;


  @media (max-width: 1368px) {
    min-height: calc(100vh - 70px - 24px * 2);
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2.5fr 1fr;
  }

  @media (max-width: 768px) {
    min-height: calc(100vh - 70px - 12px * 2);
  }
}

@mixin ad {
  height: 100%;
  width: calc(100% - 32px);
  margin: 16px;
  grid-row: 2/3;
  padding: 16px;

  @media (max-width: 1368px) {
    grid-row: auto;
    padding: 24px;
  }
}
