.sign-in {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__body {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    div {
      align-self: flex-end;
    }
    app-button {
      align-self: flex-end;
    }
  }
}
