@import "../auth.scss";

.route-container {
  @include route-container;

  .ad {
    @include ad;
  }
}

.sign-in {
  @include auth;

  app-card {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__body {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    div {
      align-self: flex-end;
    }

    app-button {
      align-self: flex-end;
    }
  }
}
