<div class='route-container'>
  <div class='ad'>
    <app-ad-test [fullWidthResponsive]='true' height='100%'></app-ad-test>
  </div>
  <div class='sign-in'>
    <app-card>
      <div header>Sign In</div>
      <div [formGroup]='signInForm' class='sign-in__body'>
        <app-input [control]="signInForm.get('email')">E-mail</app-input>
        <app-input [control]="signInForm.get('password')" type='password'>Password</app-input>
        <app-button [isProcessing]='isProcessing' [isDisabled]='signInForm.invalid' (onClick)='handleLogin()'
                    isFullWidth='true'>Login
        </app-button>
      </div>
    </app-card>
  </div>
  <div class='ad'>
    <app-ad-test [fullWidthResponsive]='true' height='100%'></app-ad-test>
  </div>
</div>
