.add-recipe {
  &__form {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 24px 10%;
  }

  h3 {
    margin-bottom: 24px;
  }

  &__basic-info {
    grid-column: 1/2;
  }

  &__image-upload {
    margin-left: 48px;
  }
}
